html, body {
	position: relative;
	width: 100%;
  height: 100%;
  
  /* Light Theme */
  --light-bg-color: white;
  --light-fill-color: #676777;
  --light-border-color: #EAEBED;
  --light-font-color: black;
  --light-active-link: #EC4F27;
  --light-social-link: #4CBF99;
  
  /* Dark Theme */
  --dark-bg-color: #1F2430;
  --dark-fill-color: #424957;
  --dark-border-color: #191E2A;
  --dark-font-color: #FED480;
  --dark-active-link: #FFD580;
  --dark-social-link: #5CCFE6;

}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}